<% include ./partials/header %>

<div class="ui main text container segment">
    <h1>Blog of Buldogs!!!</h1>
    <% blogs.forEach(function(blog){ %> <!-- This is done for each item -->
        <div>
            <h2> <%=blog.title%> </h2>
            <img class="ui centered rounded image" src="<%= blog.image %>" >
            <div>
                <span> <%= blog.created.toDateString() %> </span>
            </div>
            <p> <%- blog.body.substring(0, 100) %>... </p>
            <a class="ui red big basic button" href="/blogs/<%= blog._id %>">Read More</a> <!--id is retreived from database here -->
        </div>
    <% }); %>
</div>

<% include ./partials/footer %>